<html>
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href=  "{% static 'registration.css' %}?version=1"/>
</head>

<body>
    <section>
    <div class="header">
            <h1>Pelli Pilupulu Matrimony</h1>
    </div>

    <div class="split">
        <div class="left">

        <form id="regForm" action="login" method="POST">

            <h1>Login</h1>

            <div class="tab">
            {% csrf_token %}

            {%if reg_success == True%}
             <script>alert("Succesful")</script>
            {% endif %}

            {% for non_field_error in form.non_field_errors %}
                <p class="help is-danger">{{ non_field_error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class="field">
                    <!-- <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label> -->
                    {{ field }}

                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
             {% endfor %}
            </div>

            <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="prevBtn">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" class="nextBtn">Next</button>
            </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
            </div>
            Don't have an account yet? Click here to <a href="{% url 'register' %}">Register</a>

        </form>

        </div>

        <div class="right">
                <div class="centered img">
                <img src=" {% static 'cover.jpg' %}" alt="Avatar man">
                </div>

             <!--   <div class="centeredhead img">
                    <img src=" {% static 'bsss_head.jpg' %}" alt="Avatar man">
                </div> -->
        </div>

    </div>
    </section>
    <section>
    <div class="footer">
        <h4>© Copyright 2020 by Brahmana Seva. All Rights Reserved. Helpline number : 9000966999 </h4>
    </div>
    </section>
    <script src="{%static 'registration.js' %}"></script>

</body>

</html>