<html>
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href=  "{% static 'registration.css' %}?version=1"/>
</head>

<body>
    <section>
    <div class="header">
            <h1>Pelli Pilupulu Matrimony</h1>
    </div>

    <div class="split">
        <div class="left">
            <!-- <button type="submit"  onclick="location.href='{% url 'show_users' %}'" name='mybtn2'>Show Registered Users</button> -->
        <!-- <button class="btn btn-primary" onclick="show_users">Show Users</button> -->
        <form id="regForm" action="register" method="POST">

            <h1>Registration form</h1>
            <!-- One "tab" for each step in the form: -->
            <div class="tab">
			<!-- <p>
			  <select name="looking">
				<option value="profile">Matrimony Profile for</option>
				<option value="saab">Saab</option>
				<option value="fiat">Fiat</option>
				<option value="audi">Audi</option>
			  </select>
			</p> -->
            <!-- <p><input placeholder="First name..." name="first_name"  oninput="this.className = ''"></p>
            <p><input placeholder="Last name..." name="last_name" oninput="this.className = ''"></p>
            <p><input type="email" placeholder="E-mail..." name="email" oninput="this.className = ''" required></p>
            <p><input type = "password" placeholder="Password..." name="password" oninput="this.className = ''"></p>
            <p><input type = "password" placeholder="Confirm Password..." name="confirm_password" oninput="this.className = ''"></p>
            <p><input type="tel" placeholder="Mobile Number..." name="mobile" oninput="this.className = ''" pattern="{1,15}" required></p> -->
            {% csrf_token %}
            {% for non_field_error in form.non_field_errors %}
                <p class="help is-danger">{{ non_field_error }}</p>
            {% endfor %}
            {% for field in form %}
                <div class="field">
                    <!-- <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label> -->
                    {{ field }}

                    {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
             {% endfor %}
            </div>

            <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="prevBtn">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)" class="nextBtn">Next</button>
            </div>
            </div>

            <!-- Circles which indicates the steps of the form: -->
            <div style="text-align:center;margin-top:40px;">
            </div>
            Already registered? Click here to <a href="{% url 'login' %}">Login</a>

        </form>
        </div>

        <div class="right">
                <div class="centered img">
                <img src=" {% static 'cover.jpg' %}" alt="Avatar man">
                </div>

              <!--   <div class="centeredhead img">
                    <img src=" {% static 'bsss_head.jpg' %}" alt="Avatar man">
                </div> -->
        </div>

    </div>
    </section>
    <section>
    <div class="footer">
        <h4>© Copyright 2020 by Brahmana Seva. All Rights Reserved. Helpline number : 9000966999 </h4>
    </div>
    </section>
    <script src="{%static 'registration.js' %}"></script>
</body>

</html>